__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.env
instance/
*.db
*.sqlite3
.venv/
venv/
ENV/
.idea/
.vscode/
*.swp
*.swo
app/static/uploads/*
!app/static/uploads/.gitkeep
